header {

	.header {
		
		&-wrap {

			&_top {
				padding: 20px 0;

				.pll-switcher-select {
					position: relative;
				}
			}

			&_nav {
				padding: 20px 0;

				.wp-block-site-logo {

					img {
						width: 74px !important;
					}
				}
				
				nav {

				}
			}
		}
	}
}