header {

	.header {
		
		&-wrap {

			&_top {
				justify-content: flex-end;
				padding: 20px 0;
				width: 100%;
				
				& > * {
					float: right;
				}

				.wp-block-list {
					list-style: none;
				}
			}

			&_nav {
				padding: 0 0 20px 0;

				.wp-block-site-logo {

					img {
						width: 74px !important;
					}
				}

				nav {
					width: 100%;
				}
				
				.wp-block-navigation__container {
					justify-content: flex-end;
					margin-top: 5px;
					width: 100%;

					.wp-block-navigation-item {

						&:nth-child(1),
						&:nth-child(2),
						&:nth-child(3),
						&:nth-child(4) {
							flex: auto;

							a, span {
								font-family: $body-font-extrabold !important;
								text-transform: uppercase;
								font-weight: $bold;								
							}						
						}

						&:nth-child(4) {
							margin-right: 400px;
						}
					}
				}
			}
		}
	}
}