:root {
	--bg-kviesi: url('/assets/img/svg/bg-kviesi.svg');
	--bg-rudzi: url('/assets/img/svg/bg-rudzi.svg');
	--bg-miezi: url('/assets/img/svg/bg-miezi.svg');
	--bg-rapsi: url('/assets/img/svg/bg-rapsi.svg');
	--bg-tritikali: url('/assets/img/svg/bg-tritikali.svg');
	--bg-pupas: url('/assets/img/svg/bg-pupas.svg');
	--bg-auzas: url('/assets/img/svg/bg-auzas.svg');
	--bg-griki: url('/assets/img/svg/bg-griki.svg');
}

.section {

	&__kulturas {
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: relative;

		ul {
			display: inline-flex;
			margin-top: 40px;
			padding-left: 0;
			flex-wrap: wrap;
			gap: 5px 20px;

			li {
				background: $primary-light--20 var(--bg-kviesi) 75% bottom / auto 80px no-repeat;
				font-family: $heading-font;
				width: calc(25% - 20px);
				@include h3-styling;
				position: relative;
				border-radius: 5px;
				display: flex;
				padding: 40px;			
				height: 254px;

				@include resp-max('l') {
					width: calc(50% - 10px);
				}

				@include resp-max('s') {
					width: 100%;
				}

				&::after {
					content:'';
					position: absolute;
				}

				&:nth-child(2) {
					background-color: $secondary-light--20;
					background-image: var(--bg-rudzi);					
				}

				&:nth-child(3) {
					background-image: var(--bg-miezi);
					background-color: $secondary-light--20;
				}

				&:nth-child(4) {
					background-image: var(--bg-rapsi);
				}

				&:nth-child(5) {
					background-color: $secondary-light--20;
					background-image: var(--bg-tritikali);					
				}

				&:nth-child(6) {
					background-color: $secondary-light--20;
					background-image: var(--bg-pupas);					
				}

				&:nth-child(7) {
					background-image: var(--bg-auzas);
				}

				&:nth-child(8) {					
					background-color: $secondary-light--20;
					background-image: var(--bg-griki);
				}
			}
		}
	}

	&__partners {
		padding: 0 !important;
		position: relative;
		overflow: hidden;
		width: 100%;	

		&.swiper-slider {

			.swiper-wrapper {
				margin-block-start: 15px !important;
				margin-block-end: 15px !important;
				flex-wrap: nowrap !important;
				margin: 0 auto !important;				
				--bs-gutter-x: 0;
				gap: 0;

				.swiper-slide {
					text-align: center;
					width: 20%;

					img {
						width: auto;
						margin: 0 5%;
					}
				}
			}
		}
	}
}