@font-face {
    font-family: 'Mulish Regular';
    src: url('Mulish-Regular.eot');
    src: url('Mulish-Regular.eot?#iefix') format('embedded-opentype'),
        url('Mulish-Regular.woff2') format('woff2'),
        url('Mulish-Regular.woff') format('woff'),
        url('Mulish-Regular.ttf') format('truetype'),
        url('Mulish-Regular.svg#Mulish-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish ExtraBold';
    src: url('Mulish-ExtraBold.eot');
    src: url('Mulish-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Mulish-ExtraBold.woff2') format('woff2'),
        url('Mulish-ExtraBold.woff') format('woff'),
        url('Mulish-ExtraBold.ttf') format('truetype'),
        url('Mulish-ExtraBold.svg#Mulish-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish ExtraBoldItalic';
    src: url('Mulish-ExtraBoldItalic.eot');
    src: url('Mulish-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Mulish-ExtraBoldItalic.woff2') format('woff2'),
        url('Mulish-ExtraBoldItalic.woff') format('woff'),
        url('Mulish-ExtraBoldItalic.ttf') format('truetype'),
        url('Mulish-ExtraBoldItalic.svg#Mulish-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

